.table {
   padding: 10px;
}

td {
   padding: 30px;
}
.text:hover {
   color: #005aaa;
}
.strong {
   font-weight: bold;
}
.strong:hover {
   color: #eb1546;
}
.rating:hover {
   color: #a32b9b;
}
.number {
   color: #fff;
   background-image: linear-gradient(90deg, #2056ae 0%, #2056ae 20%, #4e47a7 40%, #9a2e9c 60%, #c62072 80%);
}

.number td:hover {
   transform: translate(5px, -5px);
   transition: 0.2s linear;
}

#start-date {
   border: 3px solid #fff;
   box-shadow: 1px 1px 15px rgb(21, 146, 48);
}
